#joke-container {
  margin: 6rem auto;
  padding: 20px;
  width: 70%;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 3px #8b72b6, -1px -1px 3px #8b72b6, 1px 1px 3px #8b72b6, 1px 1px 3px #8b72b6; 

  & h1 {
    margin: 0 0 15px 0;
  }

  & > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 15px 0;
    padding: 0 22%;
    line-height: 1.5rem;

    & div {
      margin: 15px 0 0;
      padding: 15px 0 0;
      border-top: 1px solid #fff;
      width: 100%;
      font-size: 0.85rem;
      color: #fff;

      & p {
        margin: 0 0 5px;
      }

      & a {
        display: inline-block;
        margin: 0 8px;
        padding: 15px;
        border-radius: 2rem;
        font-size: 2rem;
        text-decoration: none;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}